[run]
omit =
    searches/tabu_search.py
    sorts/bubble_sort.py 
    sorts/bucket_sort.py  
    sorts/merge_sort.py 
    sorts/insertion_sort.py 
    sorts/gnome_sort.py  
    searches/jump_search.py  
    searches/binary_search.py
